* {
    margin: 0;
    padding: 0;
    color: white;
    max-height: 100vh;
    background-color: black;
}

video {
    background-color: transparent;
}

.header__wrapper {
    position: absolute;
    padding: 10px 10px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
}

#radar {
    height: 100vh;
    overflow: hidden;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.map__circle {
    border-radius: 100%;
    width: 85vw;
    height: 85vw;
    background-color: green;
    position: relative;
}

.center__circle {
    position: absolute;
    border-right: 3vw solid transparent;
    border-bottom: 4.2426vw solid red;
    border-left: 3vw solid transparent;
    background-color: transparent;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.circle {
    position: absolute;
    border-radius: 100%;
    width: 3vw;
    height: 3vw;
    background-color: yellow;
    top: 50%;
    left: 50%;
    transform: translate(calc(-50% + 0vw), calc(-50% + 0vw));
    visibility: hidden;
}

.circle__text {
    position: absolute;
    visibility: hidden;
}

.distance {
    display: block;
    width: 85vw;
    height: auto;
    position: absolute;
    bottom: 5%;
    left: 50%;
    transform: translate(-50%, 0);
    font-size: 3rem;
    text-align: center;
    vertical-align: middle;
}

.camera {
    display: block;
    width: 20vw;
    height: 20vw;
    position: absolute;
    background-color: transparent;
    bottom: 14%;
    left: 50%;
    transform: translate(-50%);
    color: black;
    padding: 10px 20px;
    border-radius: 8px;
    font-size: 2rem;
    text-align: center;
    vertical-align: center;
}

.recamera {
    display: block;
    position: absolute;
    background-color: white;
    bottom: 14%;
    left: 20%;
    width: 30vw;
    transform: translate(-50%);
    color: black;
    padding: 5px 2px;
    border-radius: 8px;
    font-size: 2rem;
    text-align: center;
    vertical-align: center;
    z-index: -10000000;
    visibility: hidden;
}

.stop {
    display: block;
    background-color: white;
    border: 5px solid black;
    outline: white solid 5px;
    width: 20vw;
    height: 20vw;
    position: absolute;
    bottom: 14%;
    left: 50%;
    transform: translate(-50%);
    color: black;
    padding: 10px 20px;
    border-radius: 100%;
    font-size: 2rem;
    text-align: center;
    vertical-align: center;
    z-index: 1000000000;
}

#compass {
    background-color: transparent;
}

#video {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    background-color: black;
    z-index: -10000;
    width: 100vw;
    height: 100vh;

    transform: translate(-50%, -50%);
}

#permit {
    z-index: 10000;
    display: block;
    width: 45vw;
    height: 20vw;
    position: absolute;
    background-color: white;
    bottom: 50%;
    left: 50%;
    transform: translate(-50%, 50%);
    color: black;
    padding: 10px 20px;
    border-radius: 8px;
    font-size: 2rem;
    text-align: center;
    vertical-align: center;
}

canvas {
    display: block;
    position: absolute;
    z-index: -100000;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
}

.preview {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -100000;
    width: 100vw;
    height: 100vh;
}

.save {
    display: block;
    position: absolute;
    top: 2%;
    left: 5%;
    z-index: -10000;
    font-size: 1.5rem;
}

.exit {
    display: block;
    position: absolute;
    background-color: white;
    bottom: 14%;
    left: 80%;
    width: 30vw;
    transform: translate(-50%);
    font-size: 2rem;
    z-index: -10000000;
    color: black;
    padding: 5px 2px;
    border-radius: 8px;
}

.album__page {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10000;
    width: 100vw;
    min-height: 100vh;
    /* z-index: -10000000; */
    transform: translate(-100%, 0);
    transition: all 0.3s ease-in-out;
    /* z-index: 10000; */
    background-color: black;
}
